@font-face {
  font-family: 'Futura Round';
  src: url('https://s3.amazonaws.com/media.littlebits.cc/fonts/futura-rounded/FuturaRoundBook.eot');
  src: url('https://s3.amazonaws.com/media.littlebits.cc/fonts/futura-rounded/FuturaRoundBook.eot#iefix') format('embedded-opentype'),
  url('https://s3.amazonaws.com/media.littlebits.cc/fonts/futura-rounded/FuturaRoundBook.woff') format('woff'),
  url('https://s3.amazonaws.com/media.littlebits.cc/fonts/futura-rounded/FuturaRoundBook.ttf') format('truetype'),
  url('https://s3.amazonaws.com/media.littlebits.cc/fonts/futura-rounded/FuturaRoundBook.svg#futura_round_bookregular') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Futura Round';
  src: url('https://s3.amazonaws.com/media.littlebits.cc/fonts/futura-rounded/FuturaRoundDemi.eot');
  src: url('https://s3.amazonaws.com/media.littlebits.cc/fonts/futura-rounded/FuturaRoundDemi.eot#iefix') format('embedded-opentype'),
  url('https://s3.amazonaws.com/media.littlebits.cc/fonts/futura-rounded/FuturaRoundDemi.woff') format('woff'),
  url('https://s3.amazonaws.com/media.littlebits.cc/fonts/futura-rounded/FuturaRoundDemi.ttf') format('truetype'),
  url('https://s3.amazonaws.com/media.littlebits.cc/fonts/futura-rounded/FuturaRoundDemi.svg#futura_round_demibold') format('svg');
  font-weight: 600;
  font-style: normal;
}
.d-header{
  height: 80px;
}
#lb-menu{
  font-family: 'Futura Round';
  font-size: 16px;
  float: left;
  a{
    color: rgb(94, 2, 126);
  }
  ul{
    margin-top: 12px;
    font-weight: 600;
  }
  li{
    display: inline;
    list-style-type: none;
    padding:0px 50px;
    font-weight: 600;
    position: relative;
    .fa-caret-down{
      margin-left: 5px;
    }
    .lb-submenu{
      background: white;
      border-bottom: 1px solid grey;
      padding: 10px 20px;
      line-height: 29px;
      width: 200px;
      position: absolute;
      display: none;
      margin: 0px;
      left: 30px;
      top: 16px;
      li{
        display: block;
        color: #666;
        padding-left: 0px;
        font-weight: 400;
        a{
          color: #666;
          font-weight:300;
          &:hover{
            color: rgb(94, 2, 126);
            text-decoration: underline;
          }
        }
      }
    }
  }
}
